# ---------------------------------------------------------------- #
#  MINECRAFT SERVER & RESOURCES DEV GITIGNORE
# ---------------------------------------------------------------- #
plugins/amigosmagicplugin/
**gradle/
stabledf/